In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('data.csv')

In [16]:
df.head(1)

       km  price
0  240000   3650

In [18]:
df['normalize_km'] = (df['km'] - df['km'].min()) / (df['km'].max() - df['km'].min())

In [21]:
def predict_price(km: pd.core.series.Series):
    return b0 + b1 * km

In [23]:
b0 = 0
b1 = 0
df['predicted_price'] = predict_price(df['normalize_km'])
df['residual'] = df['price'] - df['predicted_price']

In [26]:
df

        km  price  normalize_km  predicted_price  residual
0   240000   3650      1.000000              0.0    3650.0
1   139800   3800      0.538464              0.0    3800.0
2   150500   4400      0.587749              0.0    4400.0
3   185530   4450      0.749103              0.0    4450.0
4   176000   5250      0.705206              0.0    5250.0
5   114800   5350      0.423310              0.0    5350.0
6   166800   5800      0.662830              0.0    5800.0
7    89000   5990      0.304471              0.0    5990.0
8   144500   5999      0.560113              0.0    5999.0
9    84000   6200      0.281440              0.0    6200.0
10   82029   6390      0.272362              0.0    6390.0
11   63060   6390      0.184988              0.0    6390.0
12   74000   6600      0.235379              0.0    6600.0
13   97500   6800      0.343623              0.0    6800.0
14   67000   6800      0.203136              0.0    6800.0
15   76025   6900      0.244706              0.0    6900.0
16   48235   6900      0.116701              0.0    6900.0
17   93000   6990      0.322896              0.0    6990.0
18   60949   7490      0.175264              0.0    7490.0
19   65674   7555      0.197028              0.0    7555.0
20   54000   7990      0.143256              0.0    7990.0
21   68500   7990      0.210045              0.0    7990.0
22   22899   7990      0.000000              0.0    7990.0
23   61789   8290      0.179133              0.0    8290.0

In [31]:
-2 * df['residual'].mean()

-12663.666666666666

In [36]:
-2 * (df['normalize_km'] * df['residual'])

0    -7300.000000
1    -4092.323849
2    -5172.195430
3    -6667.016274
4    -7404.666492
5    -4529.415802
6    -7688.825017
7    -3647.564866
8    -6720.230667
9    -3489.861401
10   -3480.782677
11   -2364.141943
12   -3107.001810
13   -4673.279257
14   -2762.647800
15   -3376.948056
16   -1610.479915
17   -4514.083215
18   -2625.455433
19   -2977.094762
20   -2289.229345
21   -3356.520606
22      -0.000000
23   -2970.028696
dtype: float64

In [37]:
-2 * (df['normalize_km'] * df['residual']).mean()

-4034.158054699579